YOLO_PATH="ml/models/yolo_face_detection.pt"
RESNET_PATH="ml/models/resnet_best_f1.pth"
ORA_USER="admin"
ORA_PASS="123"
ORA_DSN="db:1521/xepdb1"
STATIC_DIR="app/ui"
TEMPLATES_DIR="app/ui"

REDIS_PASSWORD=superpassword