# Paths to model weights (mounted via docker volume)
YOLO_PATH=ml/models/yolo_face_detection.pt
RESNET_PATH=ml/models/resnet_best_f1.pth

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeme
