# Web
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
websockets==13.0

# Celery + Redis
celery==5.4.0
redis==5.0.8

# Settings
pydantic==2.8.2
pydantic-settings==2.4.0

# ML
torch==2.4.0
torchvision==0.19.0
opencv-python-headless==4.10.0.84
ultralytics==8.2.87
deepface==0.0.92
scikit-learn==1.5.2
Pillow==10.4.0
numpy==1.26.4
